.settings {
    background-color : #0000c0;
    color: rgb(255, 0, 0);
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #3cff00;
  }
  
  #button {
    position: fixed;
    bottom: 0;
    right: 0;
  }